.d1{
	
	width:100%;
	height: 600px;
	border: 2px solid black;
}
#d0{
margin-bottom: 10px;
height: 200px;
}
.d2{
	float:left;
	width:300px;
	height: 600px;
	
}
#d3{
	float:left;
	width:500px;
	height: 600px;
	
}
#d4{
	float:right;
	width:800px;
	
}
.left{
float:left;
}
#sp{
	margin-bottom: 20px;
	height: 200px;
	padding: 30px;
	
}
.d3{
	float:left;
	width:600px;
	height: 600px;
	
	
}
#ss{
	font-size: 20px;
}
.check{
	width:40px;
	height: 20px;
}
.hide{
		display: none;
	}
.show{
		display: block;
	}
li{
	padding-bottom: 10px;
	font-size: 20px;
	font-family: "ו";
}
label{
	padding-bottom: 10px;
	padding-right: 10px;
}
button{
	padding: 0px;
}