<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>servlet.ActionServlet</servlet-class>
  </servlet>
<listener>
<listener-class>Dao.CheckListener</listener-class>
</listener>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>num</servlet-name>
    <servlet-class>servlet.NumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>servlet.NameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>servlet.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CapServlrt</servlet-name>
    <servlet-class>servlet.CapServlrt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>servlet.TeamServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>servlet.LogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToTaskServlet</servlet-name>
    <servlet-class>servlet.ToTaskServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>num</servlet-name>
    <url-pattern>/num.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CapServlrt</servlet-name>
    <url-pattern>/cap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToTaskServlet</servlet-name>
    <url-pattern>/totask</url-pattern>
  </servlet-mapping>
  

  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<exception-type>javax.servlet.ServletException</exception-type>
  	<location>/index.jsp</location>
  </error-page>
</web-app>
